
.icon-cog:before { content: '\e800'; } /* '' */
.icon-address-book:before { content: '\e801'; } /* '' */
.icon-grocery-store:before { content: '\e81e'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
